.toolbar{
    background-color: #3f51b5;
    color: #FFF;
    .example-spacer {
          flex: 1 1 auto;
    }
    ul{
        display: flex;
        gap: 10px;
        list-style: none;
        li{
            a{
                text-decoration: none;
                color: #FFF;
            }
        }
    }
}