<mat-toolbar class="toolbar" color="primary">
    <span>My App</span>
    <span class="example-spacer"></span>
    <ul>
        <li>
            <a (click)="setPage(1)" routerLink="/item">Domestic</a>
        </li>
        <li>
            <a (click)="setPage(2)" routerLink="/item">Government</a>
        </li>
        <li>
            <a (click)="setPage(3)" routerLink="/item">Currency</a>
        </li>
        <li>
            <a (click)="setPage(4)" routerLink="/item">Population</a>
        </li>
    </ul>
</mat-toolbar>